@use "sass:map";
@use "../../abstracts/var";

.outer-container {
    display: grid;
    grid-template-columns: 380px auto auto;
    padding: 50px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    .momento {
        width: 350px;
        border: 10px solid var.$success-status;
        border-radius: 10px;
        img{
            width: 100%;
        }
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .legacy {
            background-color: orange;
            color: white;
            padding: 10px;
            font-weight: bolder;
            border-radius: 15px;
            width: fit-content;
            font-size: 12px;
            &:hover{
                color: var.$success-status;
            }
        }

        .name {

            .Profile-name1,
            .Profile-name2 {
                font-size: 60px;
                font-weight: bolder;
                padding: 10px;
                color: darkblue;

            }

            .Profile-name2 {
                color: orange;

            }
        }

        .profile-discription {
            font-size: 25px;
        }

        .btn-container {
            margin: 15px;

            .btn {
                padding: 20px;
                background-color: darkblue;
                margin: 10px;
                border-radius: 25px;
                color: white;
                text-decoration: none;
                border: 2px solid darkblue;
                cursor: pointer;
                font-size: 15px;

                &:hover {
                    background-color: orange;
                    border: 2px solid orange;
                    font-size: 18px;
                }
            }

            .btn-white {
                background-color: white;
                color: darkblue;
            }

        }

    }

    .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 20px;

        img {
            border-radius: 50%;
        }
    }
}