@use "../../abstracts/var";

#transformation-journey {

    .home-heading {
        text-align: center;
        font-size: 45px;
        padding: 40px;
    }
}


.journey-555-main {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 50px;
    align-items: center;

    .details-555 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;


        p {
            text-align: left;
            font-size: 20px;
            padding: 15px;
        }
    }

    .googleMap {
        display: flex;
        gap: 5px;

        .img-textBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .imgText {
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }

            img {
                width: 250px;
                height: 450px;
            }
        }
    }

}