@use "../../abstracts/var";

.verified-proof-container {
    padding: 50px 20px;
    text-align: center;

    .home-heading {
        text-align: center;
        font-size: 45px;
        padding: 40px;
    }

    .proof-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 25px;
        margin-top: 30px;

        .proof-card {

            background-color: var.$card-color;
            border-radius: 12px;
            overflow: hidden;
            transition: transform 0.3s ease;
            
            &:hover {
                transform: translateY(-10px); // Hover effect
                box-shadow: 0 4px 15px var.$success-status;
            }

            .img-wrapper {
                width: 100%;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover; // Stretch nahi hogi image
                }
            }

            .card-content {
                padding: 15px;

                h3 {
                    margin-bottom: 8px;
                }

                h4 {
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                  
                }
            }
        }
    }
}