// Responsive media queries, flex/grid helpers

// _mixins.scss

/*
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'tablet' {
    @media (max-width: 768px) { @content; }
  }
  @else if $breakpoint == 'desktop' {
    @media (max-width: 1200px) { @content; }
  }

  @else if $breakpoint == 'mobile' {
    @media (max-width: 500px) { @content; }
  }
}

// or below shortcut using MAP
*/

$breakpoints: (
    'mobile': 570px,
    'tablet' : 768px,
    'desktop': 1200px
);

@mixin respond-to($breakpoint){
    @if map-has-key($breakpoints, $breakpoint ){
        @media (max-width: map-get($breakpoints, $breakpoint)){
            @content;
        }
    }
}



@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// _mixins.scss
@mixin mobile-only {
  @media (max-width: 576px) {
    @content; // Jo bhi code aap beech me likhenge, wo yahan fit ho jayega
  }
}