// Global spacing, font families, break points

$color-primary: #FF8C00; // ki unerline on hover use karna hai ||  H2/H3
$color-secondary :#64FFDA; // links color
$main-background : #0A192F; // navbar color background
$heading-icons: #CCD6F6; // main heading bold big font me "ANCHAL kOSHTA"
$body-text: #8892B0; // body-text color
$success-status: #555555; // on success + shadow + depth on cards
$card-color: #112240; // use in cards background

$font-heading: 'Plus Jakarta Sans', sans-serif; // For H1, H2, H3
$font-body: 'Inter', sans-serif;


$theme-colors : ("primary" : $color-primary,
    "secondry": $color-secondary,
    "background":$main-background,
    "text":$body-text );



:root {
    --fonts-header: 'Unbounded', system-ui, sans-serif;
    --font-body: 'Geist', system-ui, sans-serif;
    --accent-glow: #00ffcc;
}


:root {
    --cards: 3;
    --cardHeight: 87vh;
    --cardTopPadding: 1.5em;
    /* Har card ke bich ka space jo upar se dikhega */
    --cardMargin: 4vw;
}
