.middle-body{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    row-gap: 25px;
}
.score-banner{
    width: 100%;
    background-color: rgb(6, 19, 61);;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    padding: 15px;
}
.score-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.score-banner h2{
    color: orangered;
    padding: 10px;

}
