@use 'sass:map';

@use "../../abstracts/variables" as variable;





h1 {
    color: variable.$heading-icons;
    font-family: "Clash Display";
    font-weight: 700;
    letter-spacing: -0.02em; // Modern tight look

}

p {
    line-height: 1.6;
}


.orange {
    color: map.get($map: variable.$theme-colors, $key: "primary");
}


.header-container {
    // position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: map.get(variable.$theme-colors, "background");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9999;


    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    border-bottom-right-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.12);

    .logo {
        font-size: 35px;
        font-weight: bolder;

        .logo-555 {
            color: map.get(variable.$theme-colors, "primary");
        }
    }

    .list-header {
        display: flex;
        gap: 20px;
        padding: 8px 40px;

        .header-list-items {
            list-style-type: none;
            padding: 10px;
            cursor: pointer;
            font-size: 15px;
            transition: transform 0.5s ease;

            &:hover {
                color: variable.$color-secondary;
                transform: perspective(1000px) translate3d(0, -5px, 60px) rotateX(5deg);
            }
        }

    }

    select {
        background-color: variable.$main-background;
        color: variable.$body-text;
        border-radius: 16px;
        font-size: 15px;

        &:hover {
            color: variable.$color-secondary;
            // transform: perspective(1000px) translate3d(0, -5px, 60px) rotateX(5deg);
        }
    }

}