@use "../../abstracts/variables";

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    
    to {
        opacity: 1;
        transform: scale(1) ;
    }
}
@keyframes rotate {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}


.score-banner {
    min-height: 120vh;
    display: flex;
    gap: 40px;
    background-color: variables.$main-background;
    justify-content: center;
    align-items: center;
    color: variables.$body-text;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    border-radius: 50px;
    box-shadow: 0px 10px 15px  orange;

    .score-item {
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 25%;
        text-align: center;
        padding: 10px;
        transition: all 0.5s ease;
        box-shadow: 0px 15px 15px 5px variables.$success-status;
        justify-content: center;
        align-items: center;

        animation: rotate linear both;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        
        &:hover {
            font-size: 50px;
            transform: scale(1.05);
            width: 80%;
            box-shadow: 0px 15px 15px 5px variables.$color-primary;
            }

        h2 {
            color: orange;
            font-size: 40px;
            display: inline-block;
            
        }
    }
}